.create-channel__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #ffffff;
}

.create-channel__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  border-right: 1px solid #ebecf0;
  padding-right: 20px;
}

.create-channel__header p {
  font-family: Helvetica Neue, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #2c2c30;
  margin-left: 20px;
}

.create-channel__header svg {
  cursor: pointer;
}

.channel-name-input__wrapper {
  display: flex;
  flex-direction: column;
  height: 169px;
  padding-left: 20px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.channel-name-input__wrapper p {
  font-family: Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 120%;
  color: #2c2c30;
  margin-top: 30px;
}

.channel-name-input__wrapper input {
  font-family: Helvetica Neue, sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  height: 50px;
  width: 540px;
  background: #f7f6f8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  padding-left: 16px;
}

.channel-name-input__wrapper input:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}

.channel-name-input__wrapper input::placeholder {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.create-channel__wrapper {
  position: absolute;
  height: 88px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #ffffff;
  border-top: 1px solid #ebecf0;
  z-index: 5;
}

.create-channel__wrapper--button {
  position: absolute;
  display: flex;
  padding: 0px;
  height: 40px;
  right: 32px;
  top: 24px;
}

.create-channel__wrapper--add,
.create-channel__wrapper--cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  height: 40px;

  color: #42526e;
  background: rgba(9, 30, 66, 0.04);
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.create-channel__wrapper--add {
  margin-right: 8px;
}

.create-channel__wrapper--add:hover,
.create-channel__wrapper--cancel:hover {
  background: #242424;
  color: #ffffff;
}
