.contacts-dashboard {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  left: 560px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.dashboard__notSelected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard__notSelected h3 {
  left: 56px;
  top: 0px;
  margin-bottom: 10px;
  color: #1b1b1b;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.dashboard__notSelected p {
  height: 40px;
  left: 0px;
  top: 30px;
  color: #7c7c7c;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.btn {
  position: absolute;
  top: 170px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 106px;
  height: 40px;
  background: #242424;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.btn span {
  margin-left: 5.19px;
}

.btn__call {
  right: 144px;
}

.btn__chat {
  right: 32px;
}
