.container {
  position: absolute;
  width: 320px;
  left: 240px;
  top: 0px;
  bottom: 0px;
  background: #ffffff;
}

.container__header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 0px;
  right: 0px;
  top: 22px;
  padding: 0px 16px 16px 20px;
}

.container__header > .list__icon {
  cursor: pointer;
}

.container__title {
  color: #1b1b1b;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.container > .list__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 80px;
  left: 24px;
  z-index: 1;
}

.str-chat__channel-search {
  position: relative;
  width: 288px;
  display: flex;
  align-items: center;
  height: 40px;
  left: 16px;
  right: 16px;
  top: 72px;
  border-radius: 3px;
  background: #f4f5f7;
  padding: 10px 0px 10px 38px;
}

.str-chat-channel-list {
  float: none;
}

.str-chat__channel-search input {
  background: #f4f5f7 !important;
  width: 203px;
  height: 20px;

  border: none;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #7a869a;
  padding: 0;
}

.str-chat__channel-search input:focus {
  background: none;
  border: none;
  box-shadow: none;
  transition: none;
}
