.container {
  position: absolute;
  width: 320px;
  left: 240px;
  top: 0px;
  bottom: 0px;
  background: #ffffff;
}

.container__header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 0px;
  right: 0px;
  top: 22px;
  padding: 0px 16px 16px 20px;
}

.container__header > .list__icon {
  cursor: pointer;
}

.container__title {
  color: #1b1b1b;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.channel-search__container > .list__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 80px;
  left: 24px;
}
