.channel-preview__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 64px;
  left: 0px;
  top: 64px;
  padding: 12px 16px;
  background: #ffffff;
}

.channel-preview__wrapper__selected {
  display: flex;
  align-items: flex-start;
  width: 320px;
  height: 64px;
  left: 0px;
  top: 0px;
  padding: 12px 16px;
  background: #dfe1e6;
}

.channel-preview__wrapper:hover {
  background: #dfe1e6;
  cursor: pointer;
}

.channel-preview__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 40px;
  left: 16px;
  top: 12px;
}

.channel-preview__item.single .str-chat__avatar {
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  border-radius: 64px;
  margin: 0px 10px;
}

/*
.channel-preview__item.multi {
  max-width: 220px;
}


.channel-preview__item.multi .str-chat__avatar {
  margin-right: 0;
}


.channel-preview__item.multi span:first-child {
  position: relative;
  z-index: 2;
  bottom: 6px;
}

.channel-preview__item.multi div:nth-child(2) {
  position: relative;
  right: 10px;
  z-index: 1;
  margin-bottom: 0px;
}

.channel-preview__item.multi p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
*/
