.channel__container {
  position: absolute;
  left: 560px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: #f4f5f7;
}

.team-channel-header__container {
  position: absolute;
  height: 72px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #ffffff;
}

.rta.str-chat__textarea textarea {
  position: absolute;
  left: 86px;
  top: 8px;
  width: 80%;
  padding: 10px 0px 10px 8px;
  background: #f4f5f7;
  border: none;
  border-radius: 3px;
}

.rta.str-chat__textarea textarea::placeholder {
  color: #7a869a;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.vector {
  position: absolute;
  right: 0;
  top: 12px;
  z-index: 1;
  transform: translateX(-40px);
}

.vector > svg {
  width: 36px;
  height: 36px;
  padding: 10px;
  background: #242424;
  border-radius: 4px;
}

/*
.unpinned-message {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: right;
  padding: 8px 12px;
  margin: 10px 50px;
  gap: 10px;
  width: 320px;
  background: #ffffff;
  border-radius: 0px 16px 16px 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.str-chat__avatar .str-chat__avatar--circle {
  position: absolute;
  transform: translateX(-50px);
  width: 24px;
  height: 24px;
  border-radius: 64px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.str-chat__ul {
  padding: 0 30px;
  margin-bottom: 70px;
}

.str-chat__message-text-inner.str-chat__message-simple-text-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: right;
  padding: 8px 12px;
  gap: 10px;
  background: #ffffff;
  border-radius: 0px 16px 16px 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.str-chat__message--me
  .str-chat__message-text-inner.str-chat__message-simple-text-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 8px 12px;
  gap: 10px;
  background: #dfe1e6;
  border-radius: 16px 0px 16px 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.str-chat__message--me .str-chat__message-simple-timestamp {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: #5e5e5e;
  position: absolute;
  right: -100%;
}

.team-message-input__input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-message-input__top {
  width: 720px;
}
.rta.str-chat__textarea textarea {
  padding: 8px;
  gap: 173px;
  height: 40px;
  width: 75%;
  margin: auto;
  background: #f4f5f7;
  border-radius: 3px;
}

.vector {
  display: flex;
  position: absolute;
  right: 45px;
  bottom: 38px;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background: black;
  z-index: 100;
  border-radius: 4px;
}
*/
