.str-chat__message-simple__actions__action {
  /* 이거 풀 시 hover 기능 삭제 됨 */
  /* display: flex;  */
  position: absolute;
  width: 20px;
  top: 5px;
}

/* 정적인 상태 */
/* 스마일 기호 삭제 */
.str-chat__message-simple__actions__action--reactions {
  display: none !important;
}

/* 공유 버튼 삭제 */
.str-chat__message-simple__actions__action--thread {
  display: none !important;
}

/* pin 삭제 */
.str-chat__message-actions-list-item:first-child {
  display: none !important;
}
