/* .pinned-messages__container {
  height: 100%;
  width: 300px;
  box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  background: #ffffff;
  overflow-x: hidden;
}

.pinned-messages__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.pinned-messages__header-text {
  font-family: Helvetica Neue, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
  color: #2c2c30;
}

.pinned-messages__list {
  padding-top: 20px;
}

.pinned-messages__list .pinned-message {
  background: #fff !important;
  margin-left: 0.5px;
}

div.pinned-messages__header > button {
  background: #fff;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  height: 35px;
  width: 35px;
  border-radius: 18px;
} */

.str-chat__message-simple__actions__action {
  /* 이거 풀 시 hover 기능 삭제 됨 */
  /* display: flex;  */
  position: absolute;
  width: 20px;
  top: 5px;
}

/* 정적인 상태 */
/* 스마일 기호 삭제 */
.str-chat__message-simple__actions__action--reactions {
  display: none !important;
}

/* 공유 버튼 삭제 */
.str-chat__message-simple__actions__action--thread {
  display: none !important;
}

/* pin 삭제 */
.str-chat__message-actions-list-item:first-child {
  display: none !important;
}
