.team-channel-header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  background: #ffffff;

  z-index: 1;
}

.team-channel-header__channel-wrapper {
  display: flex;
  align-items: center;
}

.team-channel-header__channel-wrapper svg {
  cursor: pointer;
}

.team-channel-header__name {
  font-family: Helvetica Neue, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #2c2c30;
  margin-right: 8px;
}

.team-channel-header__name-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 292px;
  height: 40px;
  left: 20px;
  top: calc(50% - 40px / 2);
}

.team-channel-header__name-multi {
  display: flex;
  align-items: center;
}

.team-channel-header__name-multi:nth-child(3) {
  margin-right: 0px;
}

.team-channel-header__name-wrapper .str-chat__avatar {
  position: static;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  /* background: url(T028YJYCWKT-U02857WPHGF-80d813a4fda9-512.png); */
  border-radius: 64px;
}

.team-channel-header__name.user {
  font-weight: 500;
  font-size: 14px;
}

.team-channel-header__right {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  padding: 0 20px;
  background: #ffffff;
}

.team-channel-header__right-pin-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.team-channel-header__right svg {
  margin-left: 16px;
  margin-right: 4px;
}

.team-channel-header__right-text {
  font-family: Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #858688;
}

.str-chat__avatar--circle,
.str-chat__avatar-image {
  width: 40px important!;
  height: 40px important!;
}
