.team-message-input__wrapper {
  width: 100%;
  height: 56px;
  background: #ffffff;
}

.team-message-input__button {
  cursor: pointer;
}

.team-message-input__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.team-message-input__icons > .list__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 91px;
  top: 17px;
  margin: 0px 8px;
  z-index: 5;
  cursor: pointer;
}

.team-message-input__icons > .team-message-input__icons--left {
  display: flex;
  position: absolute;
  align-items: center;
  padding: 0px;
  width: 58px;
  height: 24px;

  left: 16px;
  right: 91px;
  top: 17px;
}

.team-message-input__icons > .team-message-input__icons--left > .list__icon {
  width: 24px;
  height: 24px;
}

.team-message-input__icons
  > .team-message-input__icons--left
  > .list__icon:first-child {
  margin-right: 10px;
}

.str-chat__message-team-form-footer {
  display: flex;
  justify-content: center;
}

.str-chat__message-team-form-footer > div {
  display: flex;
}

.str-chat__message-team-form-footer > .str-chat__edit-message-form-options {
  display: none;
}
