.countryCodes {
  margin-right: 8px;
  padding: 0 10px;
  width: 80px;
  background: #f4f5f7;
  border-radius: 3px;
  border: 0;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #7a869a;
}
